@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://s11.gifyu.com/images/Scbh4.gif");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 39px;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(10, 20, 29, 0.327);
    opacity: 0.9;
    border: none;
    border-radius: 50px;
    margin-top: 4px;
}

nav{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
}

.logo{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navList{
    list-style: none;
}

.navList li{
    display: inline-block;
    padding: 0px 20px;

}


.navList li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:#ecf0f1


}

.navList li a:hover{
    color: #0088a9;
    animation: navLink 0.22s ease forwards;
}

.navButton{
    padding: 9px 25px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    color: #ecf0f1;
    transition: all 0.3s ease 0s;
}

.navButton:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #101517;
}

.navButton.audioplay{
    border: none;
}

@keyframes navLink {
    100%{
        font-size: larger;
    }
}

.buttoncon{
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 20%;
    z-index: 2;
}

.signup{
    background-color: #5b535c78;
    border: 1px solid #ecf0f1;
    border-radius: 40px;
    color: #ecf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 60px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signup:hover{
    background-color: #ecf0f1;
    color: #5d0ba4;
}

.signup.invis{
        opacity: 0;
        transition: opacity 0.3s ease; 
        z-index: -1;
}

.form-box{
    width: 680px;
    height: 480px;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid #ecf0f1;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    background-color: rgba(160, 161, 162, 0.496);
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 19px 0px;
    padding: 30px 60px;
}

.functional{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box.invis{
    opacity: 0;
    transition: opacity 0.3s ease; 
    z-index: -2;
}

.first-name-input,
.last-name-input,
.email-input,
.phone-number-input,
.password-input,
.confirm-password-input {
    grid-column: span 1;
    margin: 10px 0;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}

.form label {
    color: #ecf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-shadow: 0px 0px 10px #ecf0f1;
}

.form input{
    margin-top: 5px;
    padding: 10px 20px;
    background-color: rgba(238, 242, 245, 0.791);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.email-input label {
    color: #dbdaef;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    padding: 10px 20px;
    margin-left: -15px;
}

.form input:focus{
    background-color: rgba(228, 234, 238, 0.791);
    border-radius: 50px;
    border-color: aliceblue;
    outline: 1px solid #ecf0f1;
    box-shadow: 0px 0px 10px 0px #ecf0f1;
    transform: scale(1.1);
    color: #9207d7;
    text-shadow: 0px 0px 10px #ecf0f1;
}

.darkmode button{
    margin: 10px 10px;
    font-size: 12px;
    padding: 9px 25px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    color: #ecf0f1;
    transition: all 0.3s ease 0s;
}

.darkmode button:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #101517;
}

.submit button{
    margin: 10px 10px;
    font-size: 12px;
    padding: 9px 25px;
    background-color: #ecf0f1;
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    color: #121212;
    transition: all 0.3s ease 0s;
}

.submit button:hover{
    background-color: rgba(240, 248, 255, 0.8);
    color: #101517;
    box-shadow: 0px 0px 10px 0px #ecf0f1;
}



.error-message{
    display: none;
}
.error-message-true {
    color: rgb(208, 204, 213);
    font-size: 15px;
    margin-top: 5px;
    text-shadow: 0px 0px 10px #ecf0f1;
}
  

